<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<script type="text/javascript" src="scripts/angular.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<title></title>
</head>
<body ng-controller="myController">
	
	<table>
		<thead>
			<tr>
				<th ng-click="sortData('name')">
					Name <div ng-class="getsortClass('name')"></div>
				</th>
				<th>Date of Birth</th>
				<th>Gender</th>
				<th>Salary(number)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in employees | orderBy: sortColumn:reverseSort ">
				<td>{{employee.name }}</td>
				<td>{{employee.dateOfBirth | date:dd/MM/yyyy }}</td>
				<td>{{employee.gender | lowercase}}</td>
				<td>{{employee.salary|number:2}}</td>
			</tr>
		</tbody>
	</table>

</body>
</html>